@media (max-width: 1180px){
	

	main section.sweets .products {
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	main section.advice {
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	footer .container{
		width: 100%;
	}

	footer .container p {
		font-size: 18px;
	}

}

@media (max-width: 1024px) {
	main section.greeting {
		flex-direction: column;
	}

	main section.greeting .about {
		width: 100%;
		text-align: center;
	}

	main section.greeting img {
		width: 100%;
	}

	h1 {
		font-size: 72px;
	}

	h2 {
		font-size: 48px;
	}

	h3 {
		font-size: 22px;
	}
}